<h1 class="page-heading"><i class="fa fa-user-md" aria-hidden="true">
</i>{{staffLabels.header}}</h1>

<form class="form-horizontal editDoctor" method="post" action="">

    <div class="row">
        <div class="form-group col-md-8">
            <label for="name" class="control-label col-md-2">{{staffLabels.name}}: </label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="name" name="name" ng-model="selectedStaff.name"/>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="mobile" class="control-label col-md-2">{{staffLabels.mobile}}: </label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="mobile" name="mobile" ng-model="selectedStaff.mobile"/>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="form-group col-md-8">
            <label class="control-label col-md-2">{{staffLabels.specialty}}: </label>
            <div class="col-md-10">
                <select ng-if="currentLang == 'ar'" class="form-control"
                        name="specialty_id" ng-model="selectedStaff.specialty_id"
                        ng-options="s.id as s.ar_value for s in specialty">
                </select>

                <select ng-if="currentLang == 'en'" class="form-control"
                        name="specialty_id" ng-model="selectedStaff.specialty_id"
                        ng-options="s.id as s.en_value for s in specialty">
                </select>

            </div>
        </div>

        <div class="form-group col-md-4">
            <label for="telephone" class="control-label col-md-2">{{staffLabels.telephone}}: </label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="telephone" name="telephone"
                       ng-model="selectedStaff.telephone"/>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label for="address" class="control-label col-md-2">{{staffLabels.address}}: </label>
            <div class="col-md-10">

                <input type="text" class="form-control" id="address" name="address" ng-model="selectedStaff.address"/>

            </div>
        </div>
    </div>
    <div class="row">


        <div class="form-group col-md-4">
            <div class="form-group col-md-12">
                <label for="salary" class="control-label col-md-2">{{staffLabels.salary}}: </label>
                <div class="col-md-10">

                    <input type="text" class="form-control" id="salary" name="salary" ng-model="selectedStaff.salary"/>

                </div>
            </div>
        </div>


        <div class="form-group col-md-4">
            <label for="percent" class="control-label col-md-2">{{staffLabels.percent}}: </label>
            <div class="col-md-10">

                <input type="text" class="form-control" id="percent" name="percent" ng-model="selectedStaff.percent"/>

            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="session_duration" class="control-label col-md-2">{{staffLabels.session_duration}}: </label>
            <div class="col-md-4">
                <select class="form-control" id="session_duration" ng-model="selectedStaff.session_duration">
                    <option ng-repeat="n in [5,10,15,20,25,30,35,40,45,50,55,60]">{{n}}</option>
                </select>


            </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group col-md-12  sectionStyle">

            <label class="control-label col-md-2">{{staffLabels.workdays}}: </label>

            <div ng-if="currentLang == 'ar'" ng-repeat="d in weekdays">
                <input type="checkbox" name="{{d.id}}" value="{{d.id}}"
                       ng-checked="selectedStaff.selectWD.indexOf(d.id) > -1"><span> {{d.ar_value}}</span>

            </div>

            <div class="form-group col-md-12" ng-if="currentLang == 'en'">

                <table class="table table-bordered table-condensed table-responsive table-hover table-striped"
                       style="margin-top: 20px">
                    <thead>
                    <tr class="tablehead">
                        <th>{{staffLabels.workdays}}</th>
                        <th>{{staffLabels.entry_time}}</th>
                        <th>{{staffLabels.exit_time}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="d in weekdays">
                        <td>
                            <input type="checkbox"
                                   value="{{d.id}}">
                            {{d.en_value}}
                        </td>
                        <td>
                            <div uib-timepicker ng-model="selectedStaff.entry_time"
                                 hour-step="hstep"
                                 minute-step="mstep" show-meridian="ismeridian">
                            </div>
                        </td>
                        <td>
                            <div uib-timepicker ng-model="selectedStaff.exit_time"
                                 hour-step="hstep"
                                 minute-step="mstep" show-meridian="ismeridian">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>

        <div class="form-group formButtons">


            <a href="" class=" btn btn-primary" ng-click="saveStaff();"><i class="fa fa-backward"></i>
                <span>{{staffLabels.btnSave}}</span></a>

            <a href="" class=" btn btn-primary" data-ui-sref="staff">{{staffLabels.btnCancel}}</a>

        </div>
    </div>
</form>
